*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
/* @font-face {
    font-family: 'Lexend-Deca';
    src: url(https://fonts.google.com/specimen/Lexend+Deca);
    font-weight: 400;
}

@font-face {
    font-family: bigFont;
    src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
    font-weight: 700;
} */

body{
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: row;
    letter-spacing: 2px;
    line-height: 20px;
}


.sedan{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    padding: 40px;
    font-size: 15px;
    width: 200px;
    height: 500px;
    border-radius: 10px 0 0 10px;
    font-weight: 700;

}
.sedan button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    margin: 20px;
}


.suv{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    font-size: 15px;
    padding: 40px;
    width: 200px;
    height: 500px;
}

.suv button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    margin: 20px;
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    font-size: 15px;
    padding: 40px;
    width: 200px;
    height: 500px;
    border-radius: 0 10px 10px 0;
}

.luxury button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    margin: 20px;
}

/* @media screen and (max-width:1440px) {
    main {
       
    }
} */

@media screen and (max-width:375px) {
    main{
        flex-direction: column;
        height: 100vh;
        margin: 350px 0;

    }

    .sedan, .suv, .luxury {
        border-radius: 10px;
        height: min-content;
    }
}
